/* IMPORT GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Michroma&display=swap");

/* BASE STYLE */
:root {
  --primary-color: #0d0d0d;
  --secondary-color: #595959;
  --tertiary-color: #a6a6a6;
  --quaternary-color: #f2f2f2;
  --primary-font: "Major Mono Display", "Segoe UI", Helvetica, Arial, sans-serif;
  --secondary-font: Michroma, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-size: 0.9rem;
}

/* NOISE BACKGROUND */
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
  background: url(/assets/noise.gif);
}

/* UTILITIES*/
.container {
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

.profile {
  box-sizing: border-box;
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  overflow: hidden;
}

.title-md {
  color: var(--quaternary-color);
  font-family: var(--primary-font);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.title-sm {
  color: var(--quaternary-color);
  font-family: var(--primary-font);
  margin-bottom: 1rem;
}

.text-dark {
  color: var(--secondary-color);
}

.title-sm-link {
  color: var(--quaternary-color);
  font-family: var(--primary-font);
  margin-bottom: 1rem;
  text-decoration: none;
  display: inline-block;
}

.title-sm-link:hover {
  text-decoration: underline;
}

.text-link-dark {
  color: var(--secondary-color);
  text-decoration: none;
  display: inline-block;
}

.text-link-dark:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
}
