/* IMPORT GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Michroma&display=swap");

/* BASE STYLE */
:root {
  --primary: #0d0d0d;
  --secondary: #595959;
  --tertiary: #a6a6a6;
  --quaternary: #f2f2f2;
  --primary-font: "Major Mono Display", "Segoe UI", Helvetica, Arial, sans-serif;
  --secondary-font: Michroma, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: var(--secondary-font);
  font-size: 0.9rem;
}

/* NOISE BACKGROUND */
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.05;
  z-index: 1000;
  pointer-events: none;
  background: url(/public/noise.gif);
}

/* UTILITIES*/
.container {
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.section {
  margin-bottom: 3rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

.profile {
  box-sizing: border-box;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 6.5rem;
  overflow: hidden;
}

.title-md {
  color: var(--quaternary);
  font-family: var(--primary-font);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.title-sm {
  color: var(--quaternary);
  font-family: var(--primary-font);
  margin-bottom: 0.5rem;
}

.section-title {
  color: var(--quaternary);
  font-family: var(--primary-font);
  margin-bottom: 2rem;
}

.description {
  margin-bottom: 0.5rem;
}

.description-dark {
  color: var(--secondary);
}

.link {
  color: var(--quaternary);
  font-family: var(--primary-font);
  margin-bottom: 0.5rem;
  text-decoration: none;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
}

.link-dark {
  color: var(--secondary);
  text-decoration: none;
  display: inline-block;
}

.link-dark:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .body {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
  }
}
